.signin-container {
    width: 100%;
    height: 100vh;
    background-color:#FFF; // #3f1171;
    font-size: 1rem;

    h1.brand {
        font-size: 2rem;
        margin-bottom: 4rem;
    }

    h2.signin-title {
        font-size: 1rem;
    }

    .signin-section {
        max-width: 30rem;
        padding: 4rem 6rem;
    }

    .signin-wrapper label {
        font-size: 0.8rem;
        color: #a1a3bb;
    }
    
    .signin-wrapper .form-control {
        border: none;
        border-bottom: 2px solid #a1a3bb;
        border-radius: 0;
        padding: .75rem 0.25rem;
        font-size: 1rem;
        font-weight: normal;
        color: #a1a3bb;

        &:focus {
            border-color: #3f1171;
            color: #202020;
        }
    }
    
    .signin-image {
        max-width: 100%;
        height: 100vh;
        background-image: url('../../../assets/images/signin/signin.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top right;
    }
}