<div class="container-fluid signin-container">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-6">
            <div class="signin-section">
                <div class="brand-wrapper mb-4">
                    <h1 class="brand">iConnect</h1>
                </div>

                <div class="signin-wrapper">
                    <h2 class="signin-title mb-4">Reset your password</h2>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="setNewPassword()" novalidate>
                        <div class="form-group">
                            <label for="enterPassword">Email</label>
                            <input type="password" formControlName="enterPassword" required maxlength="4" name="enterPassword" id="enterPassword" class="form-control" placeholder="Enter your password">
                            <div *ngIf="forgotPasswordForm.controls.enterPassword.invalid && (forgotPasswordForm.controls.enterPassword.dirty || forgotPasswordForm.controls.enterPassword.touched)"
                                class="alert alert-danger">

                                <p *ngIf="forgotPasswordForm.controls.enterPassword.errors.required">
                                    Name is required.
                                </p>

                                <p *ngIf="forgotPasswordForm.controls.enterPassword.errors.minlength">
                                    Name must be at least 4 characters long.
                                </p>

                            </div>
                        </div>

                        <div class="form-group mb-4">
                            <label for="reEnterPassword">Password</label>
                            <input type="password" formControlName="reEnterPassword" required maxlength="4" name="reEnterPassword" class="form-control"
                                placeholder="Re enter your passsword">
                            <div *ngIf="forgotPasswordForm.controls.reEnterPassword.invalid && (forgotPasswordForm.controls.reEnterPassword.dirty || forgotPasswordForm.controls.reEnterPassword.touched)"
                                class="alert alert-danger">

                                <p *ngIf="forgotPasswordForm.controls.reEnterPassword.errors.required">
                                    Name is required.
                                </p>

                                <p *ngIf="forgotPasswordForm.controls.reEnterPassword.errors.minlength">
                                    Name must be at least 4 characters long.
                                </p>

                            </div>
                        </div>

                        <button [disabled]="!forgotPasswordForm.valid" name="login" id="login" class="btn rounded-0 btn-block btn-primary mb-3" type="button">
                                Submit
                            </button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-6 signin-image">
        </div>
    </div>
</div>